@tailwind base;
@tailwind components;
@tailwind utilities;

.avatar.online:before,
.avatar.offline:before {
    width: 22%;
    height: 22%;
    bottom: 4%;
    right: 4%;
    top: auto;
}
.avatar.offline:before {
    background-color: gainsboro;
}

.notification:hover {
    cursor: pointer;
}

/* == CKEditor :: ini ================================ */
.ck-content > blockquote,
.ck-content > dl,
.ck-content > dd,
.ck-content > h1,
.ck-content > h2,
.ck-content > h3,
.ck-content > h4,
.ck-content > h5,
.ck-content > h6,
.ck-content > hr,
.ck-content > figure,
.ck-content > p,
.ck-content > pre {
    margin: revert;
}

.ck-content > p {
    margin-top: 4px;
    margin-bottom: 4px;
}

.ck-content > ol,
.ck-content > ul {
    list-style: revert;
    margin: revert;
    padding: revert;
}

.ck-content > table {
    border-collapse: revert;
}

.ck-content > h1,
.ck-content > h2,
.ck-content > h3,
.ck-content > h4,
.ck-content > h5,
.ck-content > h6 {
    font-size: revert;
    font-weight: revert;
}

.ck-content a {
    text-decoration: underline;
    color: #4b9afa;
}

.ck-content {
    overflow: auto;
    height: 8rem;
}

.ck-content-output > blockquote,
.ck-content-output > dl,
.ck-content-output > dd,
.ck-content-output > h1,
.ck-content-output > h2,
.ck-content-output > h3,
.ck-content-output > h4,
.ck-content-output > h5,
.ck-content-output > h6,
.ck-content-output > hr,
.ck-content-output > figure,
.ck-content-output > p,
.ck-content-output > pre {
    margin: revert;
}

.ck-content-output > p {
    margin-top: 4px;
    margin-bottom: 4px;
}

.ck-content-output > *:last-child {
    margin-bottom: 0;
}

.ck-content-output > ol,
.ck-content-output > ul {
    list-style: revert;
    margin: revert;
    padding: revert;
}

.ck-content-output > table {
    border-collapse: revert;
}

.ck-content-output > h1,
.ck-content-output > h2,
.ck-content-output > h3,
.ck-content-output > h4,
.ck-content-output > h5,
.ck-content-output > h6 {
    font-size: revert;
    font-weight: revert;
}

.ck-content-output blockquote {
    border-left: 5px solid #ccc;
    font-style: italic;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.ck-content-output a {
    text-decoration: #4b9afa;
    color: blue;
}

.ck-content-output a.post-hashtag {
    /* background-color: #eaf4ff; */
    background-color: #d7e9fc;
    color: #4156e2;
    padding: 0 4px;
    border-radius: 5px;
}

.ck-content-output a.post-hashtag:hover {
    text-decoration: underline;
}
/* == CKEditor :: fin ================================ */

/* == Para ChildrenCommentBox :: ini ================= */
/*
    Para establecer estos estilos para un DIV con una determinada CLASS como "children-comment-box",
    se pone dicha CLASS delante de los ::.
    Para establecerlos de forma general para todas las posibles barras de desplazamiento, no se indica nada
    delante de los ::.
*/
.children-comment-box::-webkit-scrollbar {
    width: 4px;
}
.children-comment-box::-webkit-scrollbar-thumb {
    background-color: transparent;
}
.children-comment-box::-webkit-scrollbar-track {
    background-color: transparent;
}

.children-comment-box:hover::-webkit-scrollbar-thumb {
    background-color: #0099ce;
}
.children-comment-box:hover::-webkit-scrollbar-track {
    background-color: #e4e4e4;
}
/* == Para ChildrenCommentBox :: fin ================= */
